#footer_wrap {
  background-color: #3498DB;
  margin-top: 10px;
  clear: right;
}

#opening {
  font-family: Verdana;
  font-size: 20px;
  background-color: #3498DB;
  padding: 5px;
}

#frag1 {
  margin: left;
  background-color: #3498DB;
  padding: 21px;
  margin-top: 10px;
  margin-right: 370px;
  float: both;
}

#footer1 {
  font-family: Verdana;
  padding: 20px;
}

#top {
	position: static;
	background-color: #3c4543;
	border-radius: 5px;
  margin-right: 370px;
}

#navbar {
	position: static;
	margin-left:10px;
}

ul{
	list-style-type: none;
	position: relative;
	margin: 10px;
}

li {
	display: inline;
	padding: 5px;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	background-color: #3498DB;
}

.a1 {
  text-decoration: none;
  color: black;
}

#yt {
  float: left;
}

.right {
  float: right;
  background-color: #3c4543;
  padding: 5px;
  height: 1000px;
  width: 350px;
  margin-top: -93px;
}
