#footer_wrap {
  display: block
  height: 100px;
  width: 1000px;
  margin: auto;
  border: 1px solid black;
  background-color: #3498DB;
}

p {
  text-align:center;
  font-family: Verdana;
  font-size: 20px;
  background-color: #F4D03F;
}

#frag1 {
  border: 1px solid black;
  margin: auto;
  background-color:#F5B041;
  text-align: center;
  border-radius:25px;
  padding:20px;
}
