div {
  display: block
  height: 100px;
  width: 1000px;
  margin: auto;
  border: 1px solid black;
  background-color: #3498DB;
}

p {
  text-align:center;
  font-family: Verdana;
  font-size: 20px;
  background-color: #3498DB;
}
